__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg
*.sqlite3
node_modules/
.git/
.idea/
.vscode/
*.log
uploads/
media/
staticfiles/
*.pem
