.venv
venv/
__pycache__/

*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
*.egg-info/
dist/

.env



dec-local/dec/dec/static/assets/img/client/


/dec-local/dec/dec/static/assets/img/client/

static/assets/img/client/
**/img/client/
**/img/profiles/
**/img/user/


**/assets2/img/


**/assets/plugins/icons/flags/flags/

**/drive_utils.py

drive_utils.py

